{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
Login
{% endblock head_title %}

{% block main_contents %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method='POST'> {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main_contents %}