{% load static %}
{% load datetime_tags %}

<div class="header bg-white py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 logo">
                Lei Hua
            </div>
            <div class="col-sm-12 col-md-8 text-right">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <form class="form-inline my-lg-0">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" class="form-control  input-sm border-right-0 border"
                                    name="title_contains">
                                <span class="input-group-append">
                                    <div class="input-group-text bg-transparent">
                                        <i class="material-icons">search</i>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </form>
                </ul>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->
</div>
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-color-blue-grey-200 mb-3">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="aboutme" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">About Me</a>
                <div class="dropdown-menu" aria-labelledby="aboutme">
                    <a class="dropdown-item" href="{% url 'aboutme:index'%}">Overview</a>
                    <a class="dropdown-item" href="{% url 'aboutme:experiences'%}">My Experiences</a>
                    <a class="dropdown-item" href="{% url 'aboutme:portofolio'%}">My Portofolio</a>
                    <a class="dropdown-item" href="{% url 'aboutme:contact'%}">Contact Me</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            {% if user.is_authenticated  %}
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Good {% time_of_day %} {{ user.first_name }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:index' %}">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="myaccount" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="{% static 'img/users/avatar.png' %}" class="rounded-circle avatar" width="26" height="26"
                        alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="myaccount">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Change Password</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="myaccount" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="{% static 'img/users/avatar.png' %}" class="rounded-circle avatar" width="26" height="26"
                        alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="myaccount">
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'users:register' %}">Register</a>
                </div>
            </li>
            {% endif %}

        </ul>

    </div>
</nav>