.navbar {
    padding: calculateRem(20px) calculateRem(10px);
    background: white;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    @include box_shadow(2);
    .btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
}