.navbar {
    @include box_shadow(2);
    .avatar {
        @include box_shadow(2);
        border: none;
        background: $navbar_text_base;
    }
    .nav-link {
        display: block;
        white-space: nowrap;
        .icon {
            margin-right: rem(4px);
            font-size: rem(30px);
            vertical-align: middle;
            height: rem(32px);
            width: rem(32px);
            color: $navbar_text_base;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        .text {
            font-size: rem(14px);
            color: $navbar_text_base;
        }
        &:hover,
        &.active {
            background: material-color("blue-grey-dark", "400");
            .icon,
            .text {
                color: $navbar_text_base;
            }
        }
    }
}