#btnScrollToTop {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    background-color: #f00;
    color: #fff;
    font-weight: 900;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border: none;
    outline: none;
    cursor: pointer;
}

#btnScrollToTop:active,
#btnScrollToTop:focus {
    background-color: #cc2333;
}