.header {
    font-size: rem(10px);
    .logo {
        font-size: 1.8rem;
    }
    a {
        color: material-color("red", "500");
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.navbar {
    @include box-shadow(2);
    .avatar {
        width: rem(24px);
        height: rem(24px);
        vertical-align: middle;
        border-radius: 50%;
        @include box_shadow(2);
    }
}