@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
#btnScrollToTop {
  position: fixed !important;
  right: 10px !important;
  bottom: 10px !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #e53935;
  color: white;
  outline: none;
  padding-top: 5px;
  display: none;
}

#btnScrollToTop:active, #btnScrollToTop:hover {
  background: #e57373;
}

#switcher {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Colors */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #78909c;
}

.navbar {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar .avatar {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  background: white;
}

.navbar .nav-link {
  display: block;
  white-space: nowrap;
}

.navbar .nav-link .icon {
  margin-right: 0.25rem;
  font-size: 1.875rem;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-link .text {
  font-size: 0.875rem;
  color: white;
}

.navbar .nav-link:hover, .navbar .nav-link.active {
  background: #4b636e;
}

.navbar .nav-link:hover .icon,
.navbar .nav-link:hover .text, .navbar .nav-link.active .icon,
.navbar .nav-link.active .text {
  color: white;
}

.wrapper .sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 3.5rem auto auto;
  width: 15.625rem;
  transition: all ease 0.25s;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  z-index: 200;
}

.wrapper .sideMenu .nav-link {
  display: block;
  white-space: nowrap;
}

.wrapper .sideMenu .nav-link .icon {
  margin-right: 0.25rem;
  font-size: 1.875rem;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .sideMenu .nav-link .text {
  font-size: 0.875rem;
  color: white;
}

.wrapper .sideMenu .nav-link:hover, .wrapper .sideMenu .nav-link.active {
  background: #808e95;
}

.wrapper .sideMenu .nav-link:hover .icon,
.wrapper .sideMenu .nav-link:hover .text, .wrapper .sideMenu .nav-link.active .icon,
.wrapper .sideMenu .nav-link.active .text {
  color: white;
}

.wrapper.active .sideMenu {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

@media (min-width: 992px) {
  .wrapper .sideMenu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .wrapper.active .sideMenu {
    width: 3.75rem;
  }
  .wrapper.active .sideMenu .nav-link {
    text-align: center;
  }
  .wrapper.active .sideMenu .nav-link .icon {
    margin-right: 0;
  }
  .wrapper.active .sideMenu .nav-link .text {
    display: none;
  }
}

.wrapper .content {
  width: 100%;
  margin-left: 0rem;
  transition: all ease 0.25s;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}

@media (min-width: 992px) {
  .wrapper .content {
    margin-left: 15.625rem;
  }
  .wrapper.active .content {
    margin-left: 3.75rem;
  }
}
/*# sourceMappingURL=dashboard.css.map */