<!doctype html>
<html>

<head>
    <title>Lei Hua - {% block head_title %}Base{% endblock head_title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "front/base/css.html" %}
</head>

<body>
    <button id="btnScrollToTop">
        <i class="material-icons">arrow_upward</i>
    </button>
    {% include "front/base/navbar.html" %}

    {% block main_contents %}
    {% endblock main_contents %}

    {% include "front/base/js.html" %}
</body>

</html>