<!doctype html>
<html>

<head>
    <title>Dashboard - {% block head_title %}Base{% endblock head_title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "dashboard/base/css.html" %}
</head>

<body>

    {% include "dashboard/base/navbar.html" %}

    <h1>Dashboard Base</h1>

    {% block main_contents %}
    {% endblock main_contents %}

    {% include "dashboard/base/js.html" %}
</body>

</html>