{% load static %}

<!doctype html>
<html>

<head>
    <title>Dashboard Template - {% block head_title %}Base{% endblock head_title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "dashboard/base/css.html" %}
</head>

<body>

    <button id="btnScrollToTop">
        <i class="material-icons">arrow_upward</i>
    </button>

    {% include "dashboard/base/navbar.html" %}
    <div class="wrapper d-flex">
        {% include "dashboard/base/sidebar.html" %}
        <div class="content">
            <main>
                {% block main_contents %}
                {% endblock main_contents %}
            </main>
        </div>
    </div>

    {% include "dashboard/base/js.html" %}
</body>

</html>