{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-color-blue-grey-dark-200">
    <a class="navbar-brand" href="#">Lei Hua</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="myaccount" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'img/users/avatar.png'%}" alt="" class="rounded-circle avatar" width="26"
                        height="26">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="myaccount">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>